body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #171A2B; /*previously #f4f4f4*/
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #232538; /*previously #fff*/
    box-shadow: 0 2px 4px rgba(255, 107, 107, 0.445); /*previously rgba(0, 0, 0, 0.1)*/
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #F0F1F5;/*previously #333*/
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input, select, button {
    padding: 10px;
    border: 1px solid #2C2E3F; /*previously #ddd*/
    border-radius: 4px;
    margin-right: 10px;
}

button {
    background: #4E7D96; /*previously #28a745*/
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Default shadow */
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background: #365B6B; /* Change to a darker green, previously #218838*/
    transform: scale(1.15); /* Slight enlargement */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Bigger shadow for the "lift" effect */
    filter: brightness(1.1); /* Slightly increase brightness */
}

#habits-list {
    margin-top: 20px;
}

.habit-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.habit-card.danger {
    background-color: rgba(229, 72, 77, 0.5);
    color: white;
}

.habit-card.warning {
    background-color: rgba(255, 230, 41, 0.5);
    color: black;
}

.habit-card.safe {
    background-color: rgba(70, 167, 88, 0.5);
    color: white;
}
